#note-lane-container{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: black; //TODO:config default background
}

app-receptor, app-note-lane {
    margin: 0 auto;
    padding: 0;   
}

#dance-time-mouse-block{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}