#note-lane-container{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

app-note-lane {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;    
}

app-receptor {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;    
}

app-judgement {
    position: absolute;
    left: 0;
}