<mat-drawer-container fullscreen id="home-drawer-container">

  <mat-drawer id="home-drawer" #start mode="side">
    <button mat-flat-button (click)="start.close()" routerLink="/">Home</button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="start.close()" routerLink="ddr-player">Player</button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="start.close()">Basic 2</button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="start.close()">Basic 3</button>
    <mat-divider></mat-divider>
    <button mat-flat-button (click)="start.close()">Basic 4</button>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="start.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>DDR Player pre-ALPHA - simfile selector</span>
    <span class="example-spacer"></span>
    <app-serial></app-serial>
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div id="home-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>