.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  min-height: 64px;
}

#home-drawer {
  width: 200px;
}

#home-drawer button {
  width: 100%;
}

#home-content {
  overflow: auto;
  flex-grow: 1;
}