<div *ngIf="selectedSimfile" class="m2">
    <span>{{selectedSimfile.titleTranslit || selectedSimfile.title}} {{selectedSimfile.artistTranslit || selectedSimfile.artist}}</span>
    <form *ngIf="youtubeVideoForm" [formGroup]="youtubeVideoForm" class="mb2">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Id</mat-label>
                <input type="text" matInput formControlName="id" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Offset</mat-label>
                <input type="number" step="0.1" matInput formControlName="offset" />
            </mat-form-field>
        </div>
        <div formArrayName="skips">
            <div *ngFor="let skill of youtubeVideoFormSkips.controls; let i=index">
                <div [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>From</mat-label>
                        <input type="number" step="0.1" matInput formControlName="from" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="ml2">
                        <mat-label>To</mat-label>
                        <input type="number" step="0.1" matInput formControlName="to" />
                    </mat-form-field>
                </div>
            </div>
            <button mat-raised-button (click)="addSkip()">Add skip</button>
            <button mat-raised-button (click)="removeSkip()">Remove skip</button>
        </div>
    </form>

    <div class="my2">
        <button mat-raised-button (click)="fileInput.click()">File</button>
        <input hidden type="file" accept="audio/*" #fileInput (change)="audioSelected($event)" />
        <button mat-raised-button (click)="reset(); play()"><mat-icon>replay</mat-icon><mat-icon>play_arrow</mat-icon></button>
        <button mat-raised-button (click)="play()"><mat-icon>play_arrow</mat-icon></button>
        <button mat-raised-button (click)="reset()"><mat-icon>replay</mat-icon></button>
        <button mat-raised-button (click)="pause()"><mat-icon>pause</mat-icon></button>
    </div>
    <div>
        Audio
        <button mat-raised-button (click)="unplay10msAudio()"><mat-icon>fast_rewind</mat-icon></button>
        <button mat-raised-button (click)="playAudio()"><mat-icon>play_arrow</mat-icon></button>
        <button mat-raised-button (click)="pauseAudio()"><mat-icon>pause</mat-icon></button>
        <button mat-raised-button (click)="play10msAudio()"><mat-icon>fast_forward</mat-icon></button>
    </div>
    <div>
        Video
        <button mat-raised-button (click)="unplay10msVideo()"><mat-icon>fast_rewind</mat-icon></button>
        <button mat-raised-button (click)="playVideo()"><mat-icon>play_arrow</mat-icon></button>
        <button mat-raised-button (click)="pauseVideo()"><mat-icon>pause</mat-icon></button>
        <button mat-raised-button (click)="play10msVideo()"><mat-icon>fast_forward</mat-icon></button>
    </div>

    <div>
        {{audioLocation}}
    </div>
    <div>
        {{videoLocation}}
    </div>

    <audio style="width:100%;" #audioPlayer controls></audio>
    <mat-tab-group animationDuration="0ms" (selectedTabChange)="onVideoSelected($event)">
        <mat-tab [label]="registryVideo.id" style="height: 300px;"
            *ngFor="let registryVideo of selectedSimfile.youtubeVideos">
            <ng-template matTabContent>
                <div style="height: 100%; width: 750px;" #videoContainer>
                    <ngx-y2-player #video [videoId]="registryVideo.id" [playerOptions]="playerOptions"
                        [container]="videoContainer" (ready)="onVideoReady($event)">
                    </ngx-y2-player>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

    <hr>

    <pre>{{selectedVideo | json}}</pre>

    <hr>
    <hr>

    <!-- <pre style="max-width: 700px; overflow: hidden;">{{selectedSimfile | json}}</pre> -->
</div>