:host {
    position: absolute;
    left: 0px;
    top: 10%;
    margin: 10px;
}

.faded-background-container {
    background-color: rgba(20, 20, 20, 0.80);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

#judgement-image {
    height: 68px;
    width: 512px;
}

#judgement-count-table > tr {
    & > {
        td,
        th {
            text-align: center;
            border: #424242 1px solid;
        }
    }
}

#precision-level-container {
    background-color: gray;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 1%;

    & > .precision-level-parent {
        width: 49.5%;
        height: 100%;
        display: flex;
        align-items: center;

        &.horizontal-reverse {
            transform: scaleX(-1);
        }

        & > .precision-level {
            background-color: #424242;
            height: 69%;
            width: 10%;
        }
    }

    & > #precision-level-splitter {
        width: 1%;
        background-color: black;
        height: 100%;
    }
}
