<button mat-raised-button (click)="fileInput.click()">File</button>
<input hidden type="file" accept="audio/*" #fileInput (change)="audioSelected($event)" />

<mat-form-field appearance="fill">
    <mat-label>Peak threshold</mat-label>
    <input matInput type="number" step="0.01" value="0.98" (input)="checkPeaks($event)">
</mat-form-field>

<h1>Peaks: {{audioPeakCount}}</h1>
<h1>Main tempo: <b>{{audioTempo}}</b></h1>
<h1>Tempo counts:</h1>
<pre>{{audioTempoCount | json}}</pre>
<!-- <h1>Tempo intervals:</h1>
<pre>{{audioTempoInterval | json}}</pre> -->