html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#home-drawer-container > mat-drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

