:host mat-drawer-container {
    height: 100%;
}

td,
th {
    max-width: 600px;
    word-break: break-all;
}

.small-list-elem,
.list-elem,
.large-list-elem {
    max-width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.small-list-elem {
    font-size: 0.625em;
}
.large-list-elem {
    font-size: 2em;
}

#mode-table {
    width: 280px;
}

.mat-cell, mat-card-content {
    font-size: 1.5em;
}

.mat-column-meter {
    text-align: center;
    min-width: 75px;
    flex: 0 0 5%;
    justify-content: center;
}
.mat-column-difficulty {
    text-align: right;
    min-width: 40px;
    flex: 0 0 1%;
    justify-content: flex-end;
}

.mat-column-nps {
    text-align: center;
    min-width: 60px;
    flex: 0 0 5%;
    justify-content: center;
}

.mat-column-bestscore {
    text-align: center;
    min-width: 40px;
    flex: 0 0 1%;
    justify-content: center;
}

.mat-column-stats {
    min-width: 220px;
    flex: 0 0 10%;
    white-space: pre-line;
}

#play-mode-info {
    display: flex;
    gap: 10px;
}

.mat-card {
    display: flex;
    flex-direction: column;
}

.mat-card-header {
    flex-shrink: 0;
}

.mat-card-content {
    flex-grow: 1;
    overflow: auto;
}
