<mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened>
        <mat-selection-list #simfiles [multiple]="false">
            <mat-list-option *ngFor="let simfile of simfileRegistry" [value]="simfile">
                {{simfile.filename}}
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
        Main content
        <p>
            Option selected: {{simfiles.selectedOptions.selected[0]?.value | json}}
        </p>
    </mat-drawer-content>
</mat-drawer-container>